<div>
  <div>
    <h1>{{product.title}}</h1>
    <button class="add-to-cart">
      <i class='bx bxs-cart-alt bx-sm'></i>
    </button>
    <p>Descripcion: {{product.description}}</p>
    <p>Categoria: {{product.category}}</p>
    <p>Precio: {{product.price}}$</p>
    <p>Stock disponible: {{product.stock}}</p>
    <p>Codigo: {{product.code}}</p>
    <p>{{product.thumbnails}}</p>
  </div>
  <a href="/products">volver</a>
</div>

