<div class="box">
  <div class="product-box">
    <h1>{{product.title}}</h1>
    <img src="{{product.thumbnails}}" alt="">
    <p>Descripcion: {{product.description}}</p>
    <p class="price">${{product.price}}</p>
    <p class="category">{{product.category}}</p>
  </div>
  <div class="button-container">
    <a class="volver-button" href="/products">Volver</a>
    {{#if isNotAdmin}}
    <button class="add-to-cart-button"  onclick="addProduct('{{user.cart}}', '{{product._id}}')">
          Agregar producto
          <i class='bx bxs-cart-alt bx-sm'></i>
    </button>
    {{/if}}
  </div>
</div>
<script src="/js/products.js"></script>

